[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircMLE"]
	path = CircMLE
	url = https://github.com/cran/CircMLE
[submodule "OptM"]
	path = OptM
	url = https://github.com/cran/OptM
